body {
  font-family: "Jost", sans-serif;
  font-size: 14px;
}

* {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.bg-light {
  background-color: #f2f2f2;
}

.bg-secondary {
  background: linear-gradient(to right, #6c757d, #a2abb4);
}

.border-bottom {
  border-bottom: 1px solid #847785;
}

.text-black {
  color: #000;
}

.text-primary {
  color: #e51b23 !important;
}

.text-light {
  color: #847785 !important;
}

.a {
  color: #000;
  text-decoration: none;
}
.a.icon {
  color: #e51b23;
}
.a:hover {
  text-decoration: none;
  color: #e51b23;
}

.a1 {
  color: #000;
  text-decoration: none;
}
.a1.icon {
  color: #000;
}
.a1:hover {
  text-decoration: none;
  color: #000;
}

.logo {
  position: relative;
}
.logo p.first {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 5px;
  border: 2px solid #e51b23;
  border-radius: 5px 0 0 5px;
}
.logo p.second {
  padding: 5px;
  background: linear-gradient(to right, #e51b23, #F64444);
  border: 2px solid #e51b23;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 0 5px 5px 0;
}
.logo .icon-logo {
  font-size: 20px;
}

.-mt-4 {
  position: absolute;
  margin-top: -10px !important;
  margin-left: 20px;
}

input.form-control {
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}
input.form-control:focus {
  box-shadow: none;
  border: 1px solid #e51b23;
}

.input-group input.input {
  border-top: 2px solid #e51b23;
  border-bottom: 2px solid #e51b23;
  border-left: 2px solid #e51b23;
  border-right: 1px solid #f2f2f2;
  border-radius: 5px 0 0 5px;
}
.input-group input.input:focus {
  box-shadow: none;
  border-top: 2px solid #e51b23;
  border-bottom: 2px solid #e51b23;
  border-left: 2px solid #e51b23;
  border-right: 1px solid #f2f2f2;
}
.input-group input.input1 {
  border-top: 2px solid #e51b23;
  border-bottom: 2px solid #e51b23;
  border-right: 2px solid #e51b23;
  border-left: 1px solid #f2f2f2;
  border-radius: 0 5px 5px 0;
}
.input-group input.input1:focus {
  box-shadow: none;
  border-top: 2px solid #e51b23;
  border-bottom: 2px solid #e51b23;
  border-right: 2px solid #e51b23;
  border-left: 1px solid #f2f2f2;
}
.input-group select {
  border-top: 2px solid #e51b23;
  border-bottom: 2px solid #e51b23;
  border-left: 1px solid #f2f2f2;
  border-radius: 0;
}
.input-group select:focus {
  box-shadow: none;
  border-top: 2px solid #e51b23;
  border-bottom: 2px solid #e51b23;
  border-left: 1px solid #f2f2f2;
}
.input-group select.select {
  border: 1px solid #f2f2f2;
  border-radius: 0;
}
.input-group select.select:focus {
  box-shadow: none;
  border: 1px solid #f2f2f2;
  border-radius: 0;
}
.input-group button {
  border: 2px solid #e51b23;
  border-radius: 0 5px 5px 0;
  background: linear-gradient(to right, #e51b23, #F64444);
  color: #fff;
}
.input-group button:hover {
  box-shadow: none;
  border: 2px solid #e51b23;
  border-radius: 0 5px 5px 0;
  background: #e51b23;
}
.input-group button:focus {
  box-shadow: none;
  border: 2px solid #e51b23;
  border-radius: 0 5px 5px 0;
  background: #e51b23;
}

.form-group {
  position: relative;
}
.form-group input {
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
}
.form-group input::placeholder {
  color: #000;
}
.form-group input:focus {
  box-shadow: none;
  border: 1px solid #e51b23;
}
.form-group textarea {
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
}
.form-group textarea::placeholder {
  color: #000;
}
.form-group textarea:focus {
  box-shadow: none;
  border: 1px solid #e51b23;
}

.relative {
  position: relative;
}

.cart {
  font-size: 30px;
}

.nbr {
  top: -10px;
  margin-left: 35px;
  width: 30px;
  height: 30px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #e51b23, #F64444);
}

.card {
  border: none;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 600;
}

.cardy-first {
  background-image: url(../../images/banner/banner.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.cardy-second {
  min-height: 400px;
  background-image: url(../../images/banner/2.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.cardy-second1 {
  background-image: url(../../images/banner/2.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.bg-white-tr {
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
}

.bg-white-tr1 {
  background-color: rgba(255, 255, 255, 0.8);
}

.img-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.img-profile1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.bonus-img {
  width: 50px;
}

.pubs-img {
  border-radius: 5px;
}

.certif {
  position: absolute;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(to right, #e51b23, #F64444);
  padding: 15px;
  border-radius: 50px;
  margin-top: -35px;
  margin-left: 160px;
}

.certif1 {
  position: absolute;
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(to right, #e51b23, #F64444);
  padding: 10px;
  border-radius: 50px;
  margin-top: -20px;
  margin-left: 55px;
}

.btn-primary {
  background: linear-gradient(to right, #e51b23, #F64444) !important;
  border: 1px solid #e51b23;
}
.btn-primary:hover {
  background: #e51b23 !important;
  border: 1px solid #e51b23;
}
.btn-primary:focus {
  background: #e51b23 !important;
  box-shadow: none;
}

.btn-warning {
  background: #f5cf36;
  border: 1px solid #f5cf36;
}
.btn-warning:hover {
  background: #f5cf36;
  border: 1px solid #f5cf36;
}
.btn-warning:focus {
  background: #f5cf36;
  box-shadow: none;
}

.btn-light {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
}
.btn-light:hover {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
}
.btn-light:focus {
  background: #f2f2f2;
  box-shadow: none;
  border: 1px solid #f2f2f2;
}

.btn-secondary {
  background: linear-gradient(to right, #6c757d, #a2abb4);
  border: 1px solid #6c757d;
}
.btn-secondary:hover {
  background: #6c757d;
  border: 1px solid #6c757d;
}
.btn-secondary:focus {
  background: #6c757d;
  border: 1px solid #6c757d;
  box-shadow: none;
}

.text-justify {
  text-align: justify;
}

.card {
  border-radius: 5px;
}
.card img.prod {
  width: 100%;
  height: 120px;
  border-radius: 5px 5px 0 0;
}

.cardy {
  position: relative;
  border-radius: 10px;
  color: #000;
}
.cardy img.prod-s {
  width: 100%;
  height: 140px;
  border-radius: 10px;
}
.cardy:hover {
  background: linear-gradient(to right, #6c757d, #a2abb4);
  color: #fff;
}

.cardy1 {
  position: relative;
  border-radius: 10px;
  color: #000;
}

/* carousel css */
.owl-carousel.owl-theme .owl-nav .owl-prev {
  position: absolute;
  display: block;
  left: 0px;
  top: 50%;
  outline: none;
  outline-offset: 2px;
}

.owl-carousel.owl-theme .owl-nav .owl-prev span {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #e51b23;
  transition: all 0.5s ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0 5px 5px 0;
}

.owl-carousel.owl-theme .owl-nav .owl-prev span:hover {
  font-size: 30px;
  background-color: #e51b23;
  color: #fff;
  transition: all 0.5s ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0 5px 5px 0;
  outline: none;
}

.owl-carousel.owl-theme .owl-nav .owl-next {
  position: absolute;
  display: block;
  font-size: 20px;
  right: 0px;
  top: 50%;
  outline: none;
  outline-offset: 2px;
}

.owl-carousel.owl-theme .owl-nav .owl-next:hover {
  outline: none;
  outline-offset: 2px;
}

.owl-carousel.owl-theme .owl-nav .owl-next span {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #e51b23;
  transition: all 0.5s ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px 0 0 5px;
}

.owl-carousel.owl-theme .owl-nav .owl-next span:hover {
  font-size: 30px;
  background-color: #e51b23;
  color: #fff;
  transition: all 0.5s ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px 0 0 5px;
  outline: none;
  outline-offset: 2px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.flex .bar {
  width: 250px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.flex .bar .bar-in {
  width: 100px;
  background-color: #e51b23;
  padding: 1.5px;
  border-radius: 50%;
}

.panier {
  position: absolute;
  top: 10px;
  right: 10px;
}

.transform {
  display: block;
  transform-origin: bottom;
  animation: all 0.5s ease-in-out;
}

.radius {
  border-radius: 5px;
}

.details {
  width: 100%;
  padding: 5px;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  background: rgba(229, 27, 35, 0.5);
  border-radius: 0 0 5px 5px;
}

.top {
  margin-top: 50px;
}

.part-img {
  border-radius: 5px;
  width: 25%;
}

.absolute-text {
  position: absolute;
  margin-top: 50px;
}
.absolute-text .trait {
  padding: 2px;
  width: 20px;
  background-color: #fff;
  border-radius: 1px;
}
.absolute-text .text p {
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
}

.uppercase {
  text-transform: uppercase;
}

.text-yellow {
  color: #f5cf36;
}

.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
}

img.border {
  border: 2px solid #f2f2f2 !important;
}
img.border:hover {
  border: 2px solid #e51b23 !important;
}

.bg-primary {
  background-color: #e51b23 !important;
}

.rounded-all {
  border-radius: 50px;
}

.form-check-input {
  border-color: #6c757d;
  background-color: #f2f2f2;
}
.form-check-input:focus {
  box-shadow: #e51b23;
  border-color: #e51b23;
  background-color: #e51b23;
}
.form-check-input:checked {
  box-shadow: #e51b23;
  border-color: #e51b23;
  background-color: #e51b23;
}

.border-sort {
  padding: 5px;
  border: 1px solid #6c757d;
}

.barer {
  text-decoration: line-through;
}

.sm-block {
  display: none;
}

@media screen and (max-width: 1200px) {
  .sm-hidden {
    display: none;
  }

  .sm-block {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
